server:
  port: 8080

spring:
  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin

  jms:
    pub-sub-domain: false

  mail:
    host: localhost
    port: 1025
    # MailHog не поддерживает auth/TLS — отключаем явно
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

app:
  jms:
    queue:
      changes: library.changes

  mail:
    enabled: true
    to: yourmail@example.com
